# pip install torch==1.6.0+cu101 torchvision==0.7.0+cu101 -f https://download.pytorch.org/whl/torch_stable.html
opencv-python
scikit-learn==0.23.2
scikit-image
pandas
tqdm
jupyter
timm==0.3.2
albumentations
torchcontrib
adamp
git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git
